Source: nagios-plugins-ceph
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Section: misc
Priority: optional
Standards-Version: 4.7.2.0
Build-Depends: debhelper (>= 13), python3-all-dev, dh-python

Package: nagios-plugins-ceph
Architecture: all
Depends: python3, ${misc:Depends}, ${python:Depends}
Description: Nagios plugins for Ceph
 This package provides a set of plugins to monitor a ceph cluster.
